.container {
    width: 60%;
    margin: 0 auto;
}

.container main {
    border-radius: 20px;
}

.tip-calculator {
    display: flex;
    flex-direction: row;
}

.tip-calculator .input {
    flex: 50%;
    padding: 1rem;
    margin: 1rem 0 1rem 1rem;
}

.tip-calculator .output {
    flex: 50%;
    padding: 1.5rem;
    margin: 1.5rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bill .bill--input, .people__input{
    padding: 0.2rem;
}

.bill .bill--amount, .people__input .people__amount {
    font-size: 1rem;
}